h1 {
    font-weight: bold;
    font-family: 'Prompt', sans-serif;
    font-size: 32px;
    letter-spacing:1px;
    line-height: 34px;
    text-align: center;
    color:grey;
    word-wrap: break-word;
 }
 p {
    font-size: 20px;
    padding: 5px;
    font-family: 'Prompt', sans-serif;
    color:green;
 }
  
 a {
    color: #333;
    font-size: 14px;
    font-family: 'Prompt', sans-serif;
    margin: 15px 0;
 }
  
 button {
    border-radius: 0.3rem;
    margin: 0 auto;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
 }
  
 button.ghost {
    background-color: #14CC9E;
    color: #000000;
    border-radius: 10px;
    border: none;
 }
 button.ghost:hover{
    cursor: pointer;
    box-shadow: 0 8px 10px -3px #14CC9E;
 }
 form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    text-align: center;
    padding: 25px;
 }
  
 input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    width: 100%;
    border-radius: 10px;
    min-width:350px;
 }
 input:focus-within{
    border:none;
    border-bottom:1px solid brown;
 }
 .bg-white{
    width:100%;
    background-color: #FFFFFF;
 }
 .card{
    height:100%;
    width:100%;
    border-radius: 0;
 }
 .bg-black{
    width: auto;
    background-color: #000000;
 }
 .txt{
    font-size: 20px;
    color:grey;
 }
 .flex-row{
    border-radius: 20px;
    padding:0 auto;
    margin: 0 auto;
    width:100%;
    height: 100%;
    justify-content: flex-end;
 }
 i{
    color:blue;
 }
 i:hover{
    cursor: pointer;
 }