<div class="d-flex flex-column bd-highlight">
    <div class="bd-highlight">
        <div class="card bg-black">
            <div class="d-inline-flex flex-row justify-content-end px-2">
                <div class="p-2 bd-highlight">
                    <a (click)="closeDialog()"><i class="fa-solid fa-square-xmark fa-2x"></i></a>
                </div>
            </div>
            <div class="card-body p-3">
                <form [formGroup]="form" (ngSubmit)="Submit()">
                    <h1 class="p-4">Its ok This Happens Sometimes <br> We're here to Help You</h1>
                    <input type="email" class="my-3" formControlName="email" placeholder="Email" />
                    <button type="submit" class="my-3" [disabled]="form.invalid">Reset Now</button>
                    <div *ngIf="text.length===0" >
                        <i class="fa-solid fa-face-grin fa-4x"></i>
                    </div>
                    <div>
                        <p *ngIf="text.length!==0">{{text}}</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>