<div class="d-flex flex-row bd-highlight pop-up-body p-5">
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="d-inline-flex flex-column">
            <div class="bd-highlight py-1 mt-2">
                <h2 class="msg-text p-1">Request friend</h2>
            </div>
            <div class="bd-highlight p-1">
                <div class="d-flex flex-row justify-content-between align-items-center" style="min-width: 500px;">
                    <mat-form-field class="full-width mx-2 mt-2" appearance="fill">
                        <mat-label class="label-text">User Name</mat-label>
                        <input type="text" matInput formControlName="name" (focusout)="searchUser()" (focus)="focus()">
                    </mat-form-field>
                    <div class="my-2">
                        <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"
                            *ngIf="userVerified">
                            <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
                            <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                        </svg>
                    </div>
                </div>
                <div class="ml-2 text-danger" *ngIf="this.ctrls['name'].hasError('notexist') && form.touched && form.dirty">
                    <p class="error-text">User Profile not Found</p>
                </div>
                <div class="ml-2 text-danger" *ngIf="this.ctrls['name'].hasError('sameuser') && form.touched && form.dirty">
                    <p class="error-text">You should not Enter YourName Idiot</p>
                </div>
                <div class="ml-2 text-danger" *ngIf="this.ctrls['name'].hasError('friend') && form.touched && form.dirty">
                    <p class="error-text">he's already a friend</p>
                </div>
            </div>
            <div class="bd-highlight p-1">
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label class="label-text">Nick Name (Your Preference)</mat-label>
                    <input type="text" matInput formControlName="nickname">
                </mat-form-field>
            </div>
            <div>
            </div>
            <div class="d-inline-flex flex-row bd-highlight justify-content-center">
                <button mat-raised-button class="btn btn-danger py-1 mx-1" (click)="Close()"
                    type="button">Cancel</button>
                <button mat-raised-button class="pay-btn py-1 mx-1" type="submit"
                    [disabled]="form.invalid || this.ctrls['name'].hasError('notexist') || this.ctrls['name'].hasError('sameuser') || this.ctrls['name'].hasError('friend')">Request</button>
            </div>
            <div class="bd-highlight p-2 alert">
                <p class="error-text p-1">{{errtxt}}</p>
            </div>
        </div>
    </form>
</div>