<section cdkDropListGroup class="drop-list-wrapper">
  <mat-sidenav-container class="nav-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" role="region">
      <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content class="nav-button-container">
      <div class="flex flex-row ... items-center nav-page">
        <div class="expand-btn">
          <button mat-icon-button color="accent" (click)="sidenav.toggle()">
            <mat-icon>view_module</mat-icon>
          </button>
        </div>
        <div class="root">
          <div class="board">
            <div class="board-wrapper">
              <div
                cdkDragLockAxis="x"
                class="board-row my-1"
                *ngFor="let row of droplists"
              >
                <ul
                  [ngClass]="
                    (row | droplists : targetList$).length === 0
                      ? 'tasks-container-before'
                      : 'tasks-container-after'
                  "
                  [id]="row"
                  cdkDropList
                  [cdkDropListData]="row | droplists : targetList$"
                  (cdkDropListDropped)="Drop($event)"
                >
                  <li
                    [ngClass]="{ 'p-3 m-1': true, 'entity-list-item': true }"
                    *ngFor="let entity of (row | droplists:targetList$); let i = index"
                    [ngStyle]="{ 'background-color': entity.color }"
                    cdkDrag
                  >
                    <div class="inner-flex">
                      <div class="button-combo-cont">
                        <p
                          class="font-serif text-xl p-0"
                          [ngStyle]="{ color: entity.fcolor }"
                        >
                          {{ entity.name }}
                        </p>
                        <div style="margin-left: auto">
                          <button
                            fxFlex="80"
                            mat-mini-fab
                            matTooltip="Options"
                            [matMenuTriggerFor]="optionsMenu"
                            class="icon-button"
                          >
                            <mat-icon>more_vert</mat-icon>
                          </button>
                        </div>
                        <mat-menu
                          #optionsMenu="matMenu"
                          [overlapTrigger]="false"
                        >
                          <button mat-menu-item (click)="editEnt(row, i)">
                            Edit
                          </button>
                          <button mat-menu-item (click)="removeEnt(i, row)">
                            Delete
                          </button>
                        </mat-menu>
                      </div>
                      <ul class="inner-sub-list">
                        <li
                          *ngFor="let item of (entity.desc|metainfo:entity.id:entity.meta_ctrl)"
                          [ngClass]="{
                            'p-3 m-1': true,
                            'entity-inner-list-item font-serif': true
                          }"
                          [ngStyle]="{ 'background-color': entity.color }"
                        >
                          {{ item }}
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</section>
