.nav-container {
    height: 100%;
  }
  .nav-page {
    height: 100%;
    width: 100%;
  }
  .root {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
  }
  .board {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    min-width: 0;
    min-height: 0;
  }
  
  .board-wrapper {
    display: flex;
    flex-grow: 1;
    overflow-y: auto;
    align-items: center;
    flex-direction: column;
    width:auto;
    min-width: max-content;
    min-height: max-content;
  }
  
  .board-row {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    background: #f6f8f9;
  }
  
  .board-row:not(:first-child) {
    margin-left: 0;
  }
  
  .column-title {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  
  .task {
    display: flex;
    padding: 15px 12px;
    background: white;
    border-bottom: solid 1px #ddd;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.05),
      0 3px 14px 2px rgba(0, 0, 0, 0.05);
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14),
      0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .tasks-container.cdk-drop-list-dragging .task:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .entity-list-item{
    text-align: center;
    border-radius: 6px;
    max-height: fit-content;
    cursor: pointer;
    min-width:fit-content;
    flex-basis: 28%;
  }
  .drop-list-wrapper{
    width: 100%;
    height: 100%;
    min-height: max-content;
  }
  .tasks-container-before {
    flex-grow: 1;
    display: inline-flex;
    flex-direction: row;
    overflow-y: auto;
    max-height:max-content;
    justify-content:space-evenly;
    flex-wrap: wrap;
    min-width:300px;
    min-height:80px;
    max-width:800px;
  }
  .tasks-container-after{
    flex-grow: 1;
    display: inline-flex;
    flex-direction: row;
    overflow-y: auto;
    max-height:max-content;
    justify-content:space-evenly;
    flex-wrap: wrap;
    max-width: fit-content;
  }
  .button-combo-cont{
    display:inline-flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }