<div class="row">
    <div class="col-xl-12">
        <div class="card bg-black">
            <div class="card-body">
                <div class="d-inline-flex flex-column bd-highlight mb-3">
                    <div class="p-2 bd-highlight mt-4">
                        <h4>De<span>Fy</span></h4>
                    </div>
                    <div class="p-2 bd-highlight">
                        <h5>Connect your wallet to continue</h5>
                    </div>
                    <div class="p-4 bd-highlight">
                        <button class="btn1" (click)="connectWallet()">
                            <div class="d-inline-flex flex-row bd-highlight">
                                <div class="px-3 bd-highlight"> 
                                    Meta Mask connect
                                </div>
                                <div class="px-3 bd-highlight">
                                    <img src="assets/img/fox.png" class="img-fluid custom-img" />
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
