
<!--navigation-->
<section class="smart-scroll">
    <div class="container-fluid">
        <div class="row">
            <div class="w-100">
                <nav class="navbar navbar-expand-md navbar-dark">
                    <a class="navbar-brand heading-black" href="#">
                        DEFY
                    </a>
                    <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse"
                            data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span data-feather="grid"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link page-scroll" href="#features">Features</a>
                            </li>
                          
                            <li class="nav-item">
                                <a class="nav-link page-scroll" href="#faq">FAQ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link page-scroll" href="#blog">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <a class="nav-link page-scroll d-flex flex-row align-items-center text-primary" style="font-weight: 600;" routerLink="/signin">
                        <em data-feather="layout" width="18" height="18" class="mr-2"></em>
                        Sign in 
                    </a>
                </nav>
            </div>
        </div>
    </div>
</section>

<!--hero header-->
<section class="py-7 py-md-0 bg-hero" id="home">
    <div class="container">
        <div class="row vh-md-100">
            <div class="col-md-8 col-sm-10 col-12 mx-auto my-auto text-center">
                <h1 class="heading-black text-capitalize">Wanna manage your DeFi Portfolio ?</h1>
                <p class="lead py-3"> {{"name"}} is a platform that helps people to manage DeFi portfolio in minutes. Sign up for free.</p>
                <button class="btn btn-primary d-inline-flex flex-row align-items-center" routerLink="/signup/connect">
                    Get started now
                    <em class="ml-2" data-feather="arrow-right"></em>
                </button>
            </div>
        </div>
    </div>
</section>

<!-- features section -->
<section class="pt-6 pb-7" id="features">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto text-center">
                <h2 class="heading-black">DeFy offers everything you need.</h2>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-10 mx-auto">
                <div class="row feature-boxes">
                    <div class="col-md-6 box">
                        <div class="icon-box box-primary">
                            <div class="icon-box-inner">
                               <img src="assets/img/shield.png" class="img-fluid"/>
                            </div>
                        </div>
                        <h5> Wallet spoof proof</h5>
                        <p class="text-muted">One cannot use the wallet of other exisitng users or wallets that aren't approved by themself.</p>
                    </div>
                    <div class="col-md-6 box">
                        <div class="icon-box box-success">
                            <div class="icon-box-inner">
                                <img src="assets/img/easy.png" class="img-fluid"/>
                            </div>
                        </div>
                        <h5>Get your data with ease </h5>
                        <p class="text-muted">Every data is available to download which is fetched straight from the mainnet.</p>
                    </div>
                    <div class="col-md-6 box">
                        <div class="icon-box box-danger">
                            <div class="icon-box-inner">
                                <img src="assets/img/analytics.png" class="img-fluid"/>
                            </div>
                        </div>
                        <h5> Analytics dashboard </h5>
                        <p class="text-muted">Dashboard gives insights on your various expenses based on category.</p>
                    </div>
                    <div class="col-md-6 box">
                        <div class="icon-box box-info">
                            <div class="icon-box-inner">
                                <img src="assets/img/globe.png" class="img-fluid"/>
                            </div>
                        </div>
                        <h5>Available globally</h5>
                        <p class="text-muted">As DeFy is a dApp built using Moralis there's no downtime.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-6">
            <div class="col-md-12 mr-auto text-center">
                <h2>DeFy is more than just a portfolio manager.</h2>
                <p class="mb-5">DeFy can also be used to transfer crypto currencies to other addresses from your wallet, manage list of beneficiaries and much more.</p>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-4">
                <div class="slick-about">
                    <!-- <img src="img/blog-1.jpg" class="img-fluid rounded d-block mx-auto" alt="Work 1"/> -->
                </div>
            </div>
            <div class="col-md-4">
                <div class="slick-about">
                    <!-- <img src="img/blog-2.jpg" class="img-fluid rounded d-block mx-auto" alt="Work 2"/> -->
                </div>
            </div>
            <div class="col-md-4">
                <div class="slick-about">
                    <!-- <img src="img/blog-3.jpg" class="img-fluid rounded d-block mx-auto" alt="Work 3"/> -->
                </div>
            </div>
                  
        </div>
 

    </div>
</section>

<!--faq section-->
<section class="py-7" id="faq">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto text-center">
                <h2>Frequently asked questions</h2>
                <p class="text-muted lead">Answers to most common questions.</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-10 mx-auto">
                <div class="row">
                    <div class="col-md-6 mb-5">
                        <h6>Can I try it for free?</h6>
                        <p class="text-muted"> Yes. The app is absolutely free of cost <b>:)</b></p>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h6>Do you have hidden fees?</h6>
                        <p class="text-muted"> No. We don't charge any hidden fees but you have to pay the gas fee just as a reward to the network.</p>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h6>What are the payment methods you support?</h6>
                        <p class="text-muted">We currently support ETH, MATIC, AVAX</p>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h6>How often do you release updates?</h6>
                        <p class="text-muted">We work forward to keep the app to the latest version with features.</p>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h6>What is your refund policy?</h6>
                        <p class="text-muted">We don't have such option. The transaction made in the blockchain network is irreversible so do it with caution.</p>
                    </div>
                    <div class="col-md-6 mb-5">
                        <h6>How can I contact you?</h6>
                        <p class="text-muted">To reach out us please see the contact section.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6 mx-auto text-center">
                <h5 class="mb-4">Have questions?</h5>
                <a href="#" class="btn btn-primary">Contact us</a>
            </div>
        </div>
    </div>
</section>

<!--news section-->
<section class="py-7 bg-dark section-angle top-left bottom-left" id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto text-center">
                <h2 class="heading-black">About us</h2>
                <p class="text-muted lead">{{""}}</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-4">
                <div class="card">
                    <a href="#">
                        <!-- <img class="card-img-top img-raised" src="img/blog-1.jpg" alt="Blog 1"> -->
                    </a>
                    <div class="card-body">
                        <a href="#" class="card-title mb-2"><h5>Akash Perumal</h5></a>
                        <p class="text-muted small-xl mb-2">Sep 27, 2018</p>
                        <p class="card-text">{{"about us"}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <a href="#">
                        <!-- <img class="card-img-top img-raised" src="img/blog-2.jpg" alt="Blog 2"> -->
                    </a>
                    <div class="card-body">
                        <a href="#" class="card-title mb-2"><h5>Ganesh KP</h5></a>
                        <p class="text-muted small-xl mb-2">August 16, 2018</p>
                        <p class="card-text">{{"about us"}}</p>
                    </div>
                </div>
            </div>
 
        </div>
        <div class="row mt-6">
            <div class="col-md-6 mx-auto text-center">
                <a href="#" class="btn btn-primary float"><i class="fa-solid fa-angles-up fa-2x"></i></a>
            </div>
        </div>
    </div>
</section>

<!--footer-->
<footer class="py-6" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 mr-auto">
                <h5>About DEFY</h5>
                <p class="text-muted">DeFy was started as an initiative to help people to manage their defi portfolio just like using an expense tracker </p>
                <ul class="list-inline social social-sm">
                    <li class="list-inline-item">
                        <a href=""><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href=""><i class="fa fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href=""><i class="fa fa-google-plus"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href=""><i class="fa fa-dribbble"></i></a>
                    </li>
                </ul>
            </div>
            
        </div>
        <div class="row mt-5">
            <div class="col-12 text-muted text-center small-xl">
                &copy; 2022 DEFY - All Rights Reserved
            </div>
        </div>
    </div>
</footer>

<!--scroll to top-->
<div class="scroll-top">
    <i class="fa fa-angle-up" aria-hidden="true"></i>
</div>
