<div class="bd-highlight acct-list p-2">
    <div class="bd-highlight p-2">
        <h2 class="msg-text">Spoof alert<i class="fa-solid fa-triangle-exclamation mx-2"></i></h2>
    </div>
    <p class="msg-head p-2">
        This happens because
    </p>
    <ul>
        <li>
            <p class="msg p-2">
                {{"Make sure the account Selected in MetaMask"}}
            </p>
        </li>
        <li>
            <p class="msg p-2">
                You're trying to connect Your account from some other Wallet
            </p>
        </li>
        <li>
            <p class="msg p-2">
                If the currently Selected Account in Metamask needs to be added in your profile connect already existing profile Account and try switching to connect 
            </p>
        </li>
    </ul>
    <div class="p-2 bd-highlight">
        <button mat-raised-button class="btn btn-danger py-1 mx-1" (click)="Close()" type="button">Close</button>
    </div>
</div>