<div class="flex flex-col ..." style="height:100%;width:100%;">
  <mat-toolbar class="nav-tool-bar">
    <mat-toolbar-row>
      <div class="flex flex-row ... toolbar-items">
        <div>
          <p class="text-2xl pt-5 font-serif">{{ title }}</p>
        </div>
        <div>
          <mat-nav-list class="my-nav-list">
            <a mat-list-item [routerLink]="'/create'">Create-Product</a>
            <a mat-list-item [routerLink]="'/edit'">Edit-Product</a>
          </mat-nav-list>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>

