<div class="flex flex-col ... align-center justify-between dialog-res">
  <div class="header">
    <mat-card-title>{{ data.cont_name }}</mat-card-title>
    <button
      mat-icon-button
      color="primary"
      style="margin-left: auto"
      (click)="closeDialog()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <form
    class="flex flex-col ... align-center justify-center my-5"
    [formGroup]="dlgGroup"
    (ngSubmit)="submit()"
  >
    <div *ngFor="let row of desc_copy; let r = index" class="control-flex-row">
      <div *ngFor="let ctrl of row;">
        <div [ngSwitch]="ctrl.type">
          <div *ngSwitchCase="'input'">
            <div *ngIf="input_list(ctrl.key); let inputs">
              <ul
                class="p-5 my-4"
                [ngClass]="inputs.list.length > 1 ? inputs.class : ''"
                *ngIf="inputs.list.length > 0"
              >
                <div *ngIf="inputs.list.length > 1" class="grp-head-text">
                  {{ ctrl.key }}
                </div>
                <li
                  [formArrayName]="ctrl.key"
                  *ngFor="let input of inputs.list; let i = index"
                  class="m-1"
                >
                  <mat-form-field appearance="fill">
                    <mat-label>{{ input.label }}</mat-label>
                    <input
                      matInput
                      formControlName="{{ i }}"
                      [type]="input.type"
                    />
                  </mat-form-field>
                </li>
              </ul>
            </div>
          </div>
          <div *ngSwitchCase="'select'">
            <mat-form-field appearance="fill">
              <mat-label>{{ ctrl.label }}</mat-label>
              <mat-select [formControlName]="ctrl.key">
                <mat-option
                  *ngFor="let item of select_options(ctrl.key); let j = index"
                  [value]="j"
                >
                  {{ item }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div *ngSwitchCase="'check'">
            <ul
              *ngIf="checkbox_list(ctrl.key); let check_boxes"
              class="p-5 my-4"
              [ngClass]="check_boxes.class"
            >
              <li
                [formArrayName]="ctrl.key"
                *ngFor="let check_box of check_boxes.list; let i = index"
                class="m-1"
              >
                <mat-checkbox
                  [formControlName]="i"
                  [color]="'accent'"
                  (change)="onCheckChange(r,ctrl.key)"
                >
                  {{ check_box.id }}
                </mat-checkbox>
              </li>
            </ul>
          </div>
          <div *ngSwitchCase="'radio'">
            <div *ngIf="radio_list(ctrl.key); let radio_grps">
              <mat-radio-group
                [formControlName]="ctrl.key"
                class="p-5 my-4"
                [ngClass]="radio_grps.class"
              >
                <mat-radio-button
                  *ngFor="
                    let option of radio_grps.radio_grp.options;
                    let i = index
                  "
                  class="m-1 font-serif"
                  [value]="i"
                  >{{ option }}</mat-radio-button
                >
              </mat-radio-group>
            </div>
          </div>
          <div *ngSwitchCase="'slider'">
            <div *ngIf="getSliderCtrlDesc(ctrl.key); let slider">
              <ng5-slider
                [formControlName]="slider.key"
                [options]="{
                  floor: slider.min,
                  ceil: slider.max,
                  hideLimitLabels: false,
                  hidePointerLabels: false
                }"
                (userChange)="writeSliderChange($event, ctrl.key, r)"
              ></ng5-slider>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="itemcenter">
      <button
        mat-raised-button
        color="primary"
        [type]="'submit'"
        [disabled]="dlgGroup.invalid"
      >
        Save
      </button>
    </div>
  </form>
</div>
