<div class="container shadow-sm mt-5 py-3 px-3 rounded reg-bg">
    <div class="row p-2">
        <div class="col-xl-12">
            <p class="header">Register Now To short Your Url</p>
        </div>
    </div>
    <form class="Form py-2" [formGroup]="form" (ngSubmit)="submit()">
        <div class="row p-4">
            <div class="col-xl-5">
                <div class="form-group my-2 p-1">
                    <input [ngClass]="{'form-control field':true,'Invalid':m['firstName'].invalid && m['firstName'].dirty,'valid':m['firstName'].valid && m['firstName'].dirty}" type="text"
                        formControlName="firstName" placeholder="First Name..." />
                </div>
                <div class="form-group my-2 p-1">
                    <input [ngClass]="{'form-control field':true,'valid':m['lastName'].valid && m['lastName'].dirty && m['lastName'].value!==''}" type="text"
                        formControlName="lastName" placeholder="Last Name..." />
                </div>
                <div class="form-group my-2 p-1">
                    <input [ngClass]="{'form-control field':true,'Invalid':m['email'].invalid && m['email'].dirty,'valid':m['email'].valid && m['email'].dirty}" type="email"
                        formControlName="email" placeholder="Email ..." />
                </div>
                <div [ngClass]="{'form-group':true}">
                    <input [ngClass]="{'form-control field':true,'Invalid':m['mobile'].invalid && m['mobile'].dirty,'valid':m['mobile'].valid && m['mobile'].dirty}" type="text"
                        formControlName="mobile" placeholder="Mobile Number ..." />
                </div>
                <div class="form-group my-2">
                    <input [ngClass]="{'form-control field':true,'Invalid':m['passwd'].invalid && m['passwd'].dirty,'valid':m['passwd'].valid && m['passwd'].dirty}"
                        type="password" formControlName="passwd" placeholder="Passwd" />
                </div>
                <div class="row p-3">
                    <div class="col-xl-12">
                        <div class="form-group mt-1">
                            <button class="form-control" type="submit" id="sub">Submit</button>
                        </div>
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col-xl-12">
                        <p class="link">Already Have a Account ? <a routerLink="/login">Log In</a></p>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 mx-1">
                <img class="img-fluid mt-2" src="assets/img/reg.png" alt="Oops Cannot load!" />
            </div>
        </div>
    </form>
</div>