<div class="container">
    <div class="row topbar">
        <div class="col-xl-4 col-lg-7 col-md-7 col-sm-12 col-xs-12 d-flex flex-row">
            <div class="px-3 py-1 bd-highlight Icon">
                <p>Bit.ly</p>
            </div>
            <div class="px-3 py-5 bd-highlight logo">
                <i class="fas fa-link fa-3x"></i>
            </div>
        </div>
        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-12 col-xs-12 center">
            <ul>
                <li>
                    <a href="#">PRICING</a>
                </li>
                <li>
                    <a href="#">BLOG</a>
                </li>
                <li>
                    <a href="#">ABOUT</a>
                </li>
            </ul>
        </div>
        <div class="col-xl-3 col-lg-5 col-md-5 col-sm-12 col-xs-12 d-flex flex-row px-5">
            <div class="p-2 bd-highlight">
                <button class="btn btn-primary" routerLink="/register">
                    Register
                </button>
            </div>
            <div class="p-2 bd-highlight">
                <button class="btn btn-dark login" routerLink="/login">
                    Login
                </button>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div
                class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-xs-12 content d-flex flex-column bd-highlight mb-3">
                <div class="p-2 bd-highlight">
                    <p class="text1">Short links,big results</p>
                </div>
                <div class="p-2">
                    <p class="text2">
                        A URL shortener built with powerful tools to help you grow and
                        protect your brand.
                    </p>
                </div>
                <div class="py-2 btnn">
                    <button class="btn btn-secondary p-3">
                        Get Started for Free
                    </button>
                </div>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <img class="custom-img img-fluid mt-4" src="assets/img/main.jpg" />
            </div>
        </div>
    </div>
</div>