<div class='navbar d-flex flex-row wrap bd-highlight align-items-center'>
    <div class='p-1'>
        <a (click)="toggle()" [routerLink]=""><img class="img img-fluid custom-img" [src]="proflogo" /></a>
    </div>
    <div class=''>
        <p class='icon'>Bit.ly</p>
    </div>
    <div class='p-2'>
        <button class='btn btn-danger' id='logout' (click)="logout()">
            <i class="fa-solid fa-arrow-right-from-bracket">&emsp;Logout</i>
        </button>
    </div>
</div>
<nav [ngClass]="sideBar?'nav-menu active':'nav-menu'">
    <ul class='nav-menu-items'>
        <li class='navbar-toggle'>
            <div>
                <a class='menu-bars' (click)="toggle()">
                    <i class="fa-solid fa-rectangle-xmark m-auto"></i>
                </a>
            </div>
        </li>
        <li *ngFor="let item of SideElements;" [ngClass]="item?.cName">
            <a [routerLink]="item?.path"><i [ngClass]="item?.icon">&emsp;{{item?.title}}</i></a>
        </li>
    </ul>
</nav>